{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}

{{#zone "topCss"}}
    {{css  "css/app.css" combine=false}}
    {{css  "css/map.css" combine=false}}
    {{css  "css/leaflet.css" combine=false}}
    {{css  "css/L.Control.Locate.css" combine=false}}
    {{css  "css/MarkerCluster.Default.css" combine=false}}
    {{css  "css/leaflet_fullscreen/leaflet.fullscreen.css" combine=false}}
    {{css  "css/leaflet/leaflet.draw.css" combine=false}}
    {{css  "css/leaflet/leaflet-search.min.css" combine=false}}
    {{css "css/leaflet.awesome-markers.css" combine=false}}
{{/zone}}

{{#zone "navbarActions"}}
        <li>
            <!--suppress HtmlUnknownTarget -->
            <a href="#" class="cu-btn" onclick="loadEnrollDeviceForm()">
            <span id="nav-bar-span" class="icon fw-stack" data-logged-in="{{isLogged}}" data-token="{{token}}">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
                Enroll Device
            </a>
        </li>
{{/zone}}

{{#zone "content"}}
    <div class="row">
        <div class="dataTablesTop" style="padding: 5px; padding-left: 15px;">
            <div class="dataTables_filter"><label><input
                    type="text" class="form-control" style="font-weight: normal" placeholder="Search Devices.." name="search-input" id="search-input" list="searchresults"></label></div>
            <div class="dataTables_filter"><label style="font-weight: normal;padding: 10px;margin-left: 10px">Filter Devices </label></div>
            <div class="dataTables_filter"><label><select class="form-control" style="font-weight: normal;"><option value="">All</option><option value="ACTIVE">ACTIVE</option><option value="UNREACHABLE">UNREACHABLE</option></select></label></div>
            <datalist id="searchresults"></datalist>
            <template id="resultstemplate">
            </template>
            <div class="dataTables_toolbar">
                <ul class="nav nav-pills navbar-right remove-margin collapse-nav-sub" role="tablist">
                    <li>
                        <button class="btn-sm btn-default"><i
                                class="fw fw-grid"></i></button>
                    </li>
                    <li>
                        <button class="btn-sm btn-default"><i
                                class="fw fw-list"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="device-map-wrapper" class="map-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 10px">
                <div id="enroll-device-header" class="row" style="margin-left: 5px;display: none">
                    <h3>Enroll Device</h3>
                </div>
                <!--<div class="sidebar-wrapper sidebar-wrapper-animation-fix toggled" id="right-sidebar"-->
                     <!--data-side="right">-->
                <!--</div>-->
                <div id="device-map" style="height: 80vh;">
                    <div id="map"></div>
                </div>
            </div>
            <div id="device-form-div" class="map-wrapper col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 10px;display: none">
                <div class="row" style="margin-left: 5px;padding-top: 55px">
                </div>
                <div id="device-form" style="height: 80vh;">
                    <label class="wr-input-label">Device Name</label>
                    <input id="device-name" type="text" class="form-control" style="font-weight: normal">
                    <br>
                    <label class="wr-input-label">Gateway ID</label>
                    <!--<input type="text" class="form-control" style="font-weight: normal">-->
                    <div class="wr-input-control">
                        <select id="gateways" class="form-control select2">
                        </select>
                    </div>
                    <label class="wr-input-label">Location</label>
                    <input id="device-location-input" type="text" class="form-control" style="font-weight: normal" data-latitude="" data-longitude="">
                    <br>
                    <label class="wr-input-label">Sensor IDs</label>
                    <div class="wr-input-control">
                        <select id="sensors" class="form-control select2" multiple="multiple">
                        </select>
                    </div>
                    <br>
                    <button id="save-device-btn" class="wr-btn" onclick="saveDevice()">Save Device</button>
                    <button id="enroll-cancel-btn" class="wr-btn" onclick="hideEnrollDeviceForm()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="location-marker-card" class="card" style="display: none">
        <div class="card-block" style="width: 400px">
            <h4 style="display: inline">Mt Saint Device</h4>
            <span style="display: inline;float: right;margin-right: 10px"><a href="#" class="card-link">Another link</a></span>
        </div>
        <div class="card-block" style="width: 400px">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="well well-sm">
                        <h4>300mV</h4>
                        <p>Voltage <span style=" float:right;color: limegreen"><i class="fa fa-check"></i> Active</span></p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="well well-sm">
                        <h4>30C</h4>
                        <p>Temperature <span style=" float:right;color: limegreen"><i class="fa fa-check"></i> Active</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="well well-sm">
                        <h4>+2%</h4>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="well well-sm">
                        <h4>+2%</h4>
                        <p>Humidity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDevice" tabindex="-1" role="dialog" aria-labelledby="modalDevice">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
                    <h3 class="modal-title" id="deviceModalLabel">Device Successfully Added</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeviceErr" tabindex="-1" role="dialog" aria-labelledby="modalDevice">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
                    <h3 class="modal-title" id="deviceModalLabel">Failed to add device</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

{{/zone}}

{{#zone "bottomJs" }}
    {{js "js/leaflet/leaflet.js" }}
    {{js "js/leaflet/leaflet.markercluster.js" }}
    {{js "js/leaflet/L.Control.Locate.js" }}
    {{js "js/leaflet/L.Control.Focus.js" }}
    {{js "js/leaflet/leaflet.groupedlayercontrol.js" }}
    {{js "js/leaflet/Leaflet.fullscreen.min.js" }}
    {{js "js/leaflet/Marker.Rotate.js" }}
    {{js "js/leaflet/leaflet.draw.js" }}
    {{js "js/leaflet.awesome-markers.js"}}
    {{js "js/typeahead.bundle.min.js" }}
    {{js "js/leaflet/leaflet-search.min.js"}}
    {{js "js/geo_remote.js" }}
    {{js "js/app.js" }}
{{/zone}}
